<f:if condition="{affiliate.linkLabel}">
    <f:then>
        <f:if condition="{affiliate.image}">
            <f:image class="affiliate-image" image="{affiliate.image}" width="{settings.detail.affiliateImage.width}" />
        </f:if>
        <p class="h3">{affiliate.name}</p>
        <f:if condition="{affiliate.description}">
            <f:format.html>{affiliate.description}</f:format.html>
        </f:if>
        <f:link.typolink parameter="{affiliate.link}">{affiliate.linkLabel}</f:link.typolink>
    </f:then>
    <f:else>
        <f:if condition="{affiliate.image}">
            <f:image class="affiliate-image" image="{affiliate.image}" width="{settings.detail.affiliateImage.width}" />
        </f:if>
        <f:link.typolink parameter="{affiliate.link}">{affiliate.name}</f:link.typolink>
        <f:if condition="{affiliate.description}">
            <f:format.html>{affiliate.description}</f:format.html>
        </f:if>
    </f:else>
</f:if>
