/********************************************************************
 * COOKING MODE OFF - START
 *******************************************************************/
.recipe-steps-cooking-mode-prev,
.recipe-steps-cooking-mode-next {
    display: none;
}

.recipe-steps-cooking-mode-prev i,
.recipe-steps-cooking-mode-next i {
    pointer-events: none;
}
/********************************************************************
 * COOKING MODE OFF - END
 *******************************************************************/
/********************************************************************
 * COOKING MODE ON - START
 *******************************************************************/
.cooking-mode #cookingModeToggler {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 9999;
}

.cooking-mode .recipe-steps {
    --recipe-cooking-mode-title-height: 3rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-dark);
    z-index: 9998;
}

.cooking-mode .recipe-steps .recipe-steps-title {
    height: var(--recipe-cooking-mode-title-height);
}

.cooking-mode .recipe-steps .list-recipe-steps {
    height: calc(100% - var(--recipe-cooking-mode-title-height));
    overflow-y: auto;
}

.cooking-mode .recipe-steps .list-recipe-steps .list-group-item {
    transform: translateX(0);
    transition: all 0.5s ease-in;
    position: fixed;
    top: var(--recipe-cooking-mode-title-height);
    left: 0;
    width: 100%;
    display: block;
    height: calc(100% - var(--recipe-cooking-mode-title-height));
}

.cooking-mode .recipe-steps .list-recipe-steps .list-group-item:not(.active) {
    transform: translateX(100%);
}

.cooking-mode .recipe-steps-cooking-mode-prev,
.cooking-mode .recipe-steps-cooking-mode-next {
    display: inline-block;
}
/********************************************************************
 * COOKING MODE ON - END
 *******************************************************************/
