/********************************************************************
 * COOKING MODE OFF - START
 *******************************************************************/
.recipe-steps-cooking-mode-prev,
.recipe-steps-cooking-mode-next {
    display: none;
}

.recipe-steps-cooking-mode-prev i,
.recipe-steps-cooking-mode-next i {
    pointer-events: none;
}
/********************************************************************
 * COOKING MODE OFF - END
 *******************************************************************/
/********************************************************************
 * COOKING MODE ON - START
 *******************************************************************/
.cooking-mode {
    --bs-body-font-size: 1.2rem;

}

.cooking-mode #cookingModeToggler {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 9999;
}

.cooking-mode .recipe-steps {
    --recipe-cooking-mode-title-height: 3rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-dark);
    z-index: 9998;
    padding-top: var(--recipe-cooking-mode-title-height);
}

.cooking-mode .recipe-steps .recipe-steps-title {
    display: none;
}

.cooking-mode .recipe-steps .list-recipe-steps {
    height: 100%;
}

.cooking-mode .recipe-steps .list-recipe-steps .list-group-item {
    transform: translateX(0);
    transition: all 0.5s ease-in;
    position: fixed;
    top: var(--recipe-cooking-mode-title-height);
    left: 0;
    width: 100%;
    height: calc(100% - var(--recipe-cooking-mode-title-height));
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    overflow-y: auto;
}

.cooking-mode .recipe-steps .list-recipe-steps .list-group-item:not(.active) {
    transform: translateX(100%);
}

.cooking-mode .recipe-steps .list-recipe-steps .list-group-item .recipe-steps-cooking-mode-controls {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.cooking-mode .recipe-steps-cooking-mode-prev,
.cooking-mode .recipe-steps-cooking-mode-next {
    display: inline-block;
}

.cooking-mode .recipe-steps-cooking-mode-prev + .recipe-steps-cooking-mode-next {
    margin-left: 1rem;
}

@media all and (max-height: 480px) {
    .cooking-mode .recipe-step-images {
        display: none;
    }
}
/********************************************************************
 * COOKING MODE ON - END
 *******************************************************************/
