/*-----------------*/
/***** General *****/
/*-----------------*/
figure.effect {
    position: relative;
    text-align: center;
}

figure.effect img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
}

figure.effect figcaption,
figure.effect figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect figcaption {
    display: block;
    padding: 2em;
    color: var(--bs-white);
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*-----------------*/
/***** Steve *****/
/*-----------------*/

figure.effect-steve {
	z-index: auto;
	overflow: visible;
	background: #000;
}

figure.effect-steve:before,
figure.effect-steve .title:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #000;
	content: '';
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-steve:before {
	box-shadow: 0 3px 30px rgba(0,0,0,0.8);
	opacity: 0;
}

figure.effect-steve figcaption {
	z-index: 1;
}

figure.effect-steve img {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
}

figure.effect-steve .title,
figure.effect-steve .subline {
	background: #fff;
	color: #2d434e;
}

figure.effect-steve .title {
	position: relative;
	margin-top: 2em;
	padding: 0.25em;
}

figure.effect-steve .title:before {
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.effect-steve .subline {
	margin-top: 1em;
	padding: 0.5em;
	font-weight: 800;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(0.9,0.9,1);
	transform: scale3d(0.9,0.9,1);
}

figure.effect-steve.effect-notitle .subline {
	margin-top: 0;
}

figure.effect-steve:hover:before,
figure.effect-steve:focus:before {
	opacity: 1;
}

figure.effect-steve:hover img,
figure.effect-steve:focus img {
	-webkit-transform: perspective(1000px) translate3d(0,0,21px);
	transform: perspective(1000px) translate3d(0,0,21px);
}

figure.effect-steve:hover .title:before,
figure.effect-steve:focus .title:before {
	opacity: 0;
}

figure.effect-steve:hover .subline,
figure.effect-steve:focus .subline {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
